<%= render 'shared/user-info-and-new-book', user: @user, book: @book %>
<!--↑部分テンプレート呼び出し-->

<h1>Books</h1>
<% @books.each do |book| %>
  <div>
    <%= attachment_image_tag @user , :profile_image, :fill, 60, 60, format: 'jpg' 'png', fallback: "no_image.jpg" %>
    <%= link_to book.title, book_path(book.id) %>
    <%= book.body %>
  </div>
<% end %>